body { 
    background-color: rgb(126, 194, 133); 
    color: rgb(188, 233, 179); 
    font-family: Helvetica; 
    font-size: 14px; 
    } 
.reverse { 
    background-color: rgb(188, 233, 179) !important; 
    color: rgb(126, 194, 133); 
    } 
p { 
    padding: 20px; 
    }
    